.Comment{
    height: fit-content;
    width: 100%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: white;
    /* border-left: 2px lightgrey solid; */
    padding-left: 10px;
    margin-top: 25px;
}

.Comment__commentandbutton{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.delete-btn{
    background-color: rgb(241,70,104);
    border: white;
    color: white;
    height: 25px;
    width: 55px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}
