.subredditCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218,224,230);
    padding-top: 60px;
    height: 100%;
}

.B{
    height: 100%;
}

.CommunityLabel{
    text-align: center;
}
