.subredditCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    height: 100%;
}

.B{
    height: 800px;
}

.CommunityLabel{
    text-align: center;
}
