.NavBar{
    display: flex;
    justify-content: space-between;
    color: pink;
    height: 60px;
    width: 100%;
    border-bottom: solid black 2px;
    align-items: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: white;
    z-index: 1;
}



.NavBar__icon{
    height: 60px;
    width: 100px;
    margin-top: 5px;
}

.NavBar__search{
    margin-top: 9px;
}

.NavBar__github{
    height: 50px;
    width: 50px;
    margin-top: 2px;
}

.NavBar__searchButton{
    margin-top: 9px;

}

.signupButton{
    margin-top: 9px;
    margin-right: 5px;
}

.loginButton{
    margin-top: 9px;
    margin-right: 5px;
}

.logoutButton{
    margin-top: 9px;
    margin-right: 5px;
}

.linkedin_icon{
    height: 40px;
    width: 40px;
    margin-bottom: 3px;
}

.angelist_icon{
    height: 48px;
    width: 50px;
    margin-top: 2px;
}
