.NavBar{
    display: flex;
    justify-content: space-between;
    color: pink;
    height: 60px;
    width: 125%;
    border-bottom: solid black 2px;
    align-items: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: white;
}



.NavBar__icon{
    height: 60px;
    width: 100px;
    /* margin-right: 710px;
    margin-left: 20px;
    margin-top: 9px; */
}

.NavBar__search{
    margin-top: 9px;
}

.NavBar__github{
    height: 43px;
    width: 43px;
}

.NavBar__searchButton{
    /* margin-right: 350px; */
    margin-top: 9px;

}

.signupButton{
    margin-top: 3px;
    /* margin-left: 5px; */
}

.loginButton{
    margin-top: 3px;
    margin-right: 5px;
}

.logoutButton{
    /* margin-left: 300px; */
}
