.PostCard{
    display: flex;
    border: solid grey 1px;
    border-radius: 5px;
    height: fit-content;
    width: 100%;
    /* background-color: #EFEFED; */
    background-color: white;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 8px;
}

.PostCard__Body{
    background-color: white;
}

/* .PostCard__leftPanel{
    background-color: #EFEFED;
    background-color: white;
    height: 240px;
    width: 50px;
} */

.PostCard__Body--text{
    /* background-color: #EFEFED; */
    background-color: white;
}

.PostCard__Body--postedBy{
    font-size: 12px;
    padding-bottom: 5px;
}

.PostCard__Body--title{
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: bold;
}

.PostCard__Body--comments{
    font-size: 12px;
}
