.SubredditCard{
    border: solid grey 2px;
    height: fit-content;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
}

#SubredditCard{
    background-color: white;
}

.SubredditCard__image{
    height: 50px;
}

.SubredditCard__title{
    font-weight: bold;
}

.SubredditCard__button{
    background-color: rgb(1,150,255);
    border-radius: 5px;
}

.SubredditCard__profileUrl{
    height: 48px;
    width: 48px;
}

.content{
    margin-top: 25px;
    background-color: white;

}

.media{
    background-color: white;
}

.media-left{
    background-color: white;
}

.card-content{
    background-color: white;
}
